# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# SQLite
*.db
*.sqlite3

# Environment Variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/